.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: rgb(200, 200, 220);
    transition: width 0.2s ease-in-out;
    z-index: 1000;
  }
  
  .sidebar.collapsed {
    width: 30px;
  }
  
  .logo {
    display: block;
    width: 54px;
    height: 54px;
    margin: 8px auto;
    background-image: url('../../assests/logo/logo');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  
  .sidebar a {
    display: block;
    text-align: center;
    font-size: 1em;
    padding: 16px 0;
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar.collapsed a {
    font-size: 0.7em;
    padding: 8px 0;
  }
  
  @media (max-width: 1400px) {
    .sidebar {
      width: 60px;
    }
    .logo {
      width: 44px;
      height: 44px;
    }
    .sidebar a:first-child:before {
      content: "H";
    }
    .sidebar a:nth-child(2):before {
      content: "W";
    }
    .sidebar a:nth-child(3):before {
      content: "Fi";
    }
    .sidebar a:last-child:before {
      content: "Fr";
    }
    .sidebar a {
      font-size: 0.7em;
    }
  }
  
  @media (max-width: 800px) {
    .sidebar.collapsed {
      width: 30px;
    }
    .logo {
      display: none;
    }
    .sidebar a:before {
      display: none;
    }
    .sidebar a {
      font-size: 0.7em;
      padding: 8px 0;
    }
  }
  